/* top */
html, body {
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
	background-color: rgb(180, 250, 255);
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
}
img, video {
	vertical-align: bottom;
}

header {
	background: white;
	width: 100%;
	max-width: 600px;
	margin: 0.5rem auto;
	padding: 10px;
	border-radius: 6px;
}

header img {
	width: 100%;
}

header p {
	font-size: 1rem;
	margin: 0 auto;
	text-align: center;
}

main {
	max-width: 960px;
	margin: 0 auto;
}

main section {
	margin: 1rem auto;
}

main section.selector {
	height: 400px;
	background: url("../img/board.jpg");
	text-align: center;
}

main section.selector div.button-box {
	padding-top: 200px;
}

main section.selector div.button-box button {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: white;
	background: rgba(51, 51, 51, 0.6);
	border: solid 2px white;
	border-radius: 3px;
	cursor: pointer;
	margin: 0.5rem;
}
main section.selector div.button-box button:hover {
	background: rgba(255, 255, 255, 0.6);
}

main section.selector div.create-box {
	color: white;
	margin: 2rem auto;
}
main section.selector div.create-box select {
	height: 2rem;
	border-radius: 3px;
}
main section.selector div.create-box input.room-name {
	border-radius: 3px;
	border: 0;
	padding: 0 0.5rem;
	height: 2rem;
}
main section.selector div.create-box button {
	display: inline-block;
	padding: 0;
	width: 2rem;
	height: 2rem;
	text-decoration: none;
	color: white;
	background: rgba(51, 51, 51, 0.6);
	border: solid 2px white;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin: 0;
	outline:none;
}
main section.selector div.create-box button:hover {
	background: rgba(255, 255, 255, 0.6);
}
main section.selector div.join-box {
	color: white;
	margin: 2rem auto;
}
main section.selector div.join-box input.join-room-name {
	border-radius: 3px;
	border: 0;
	padding: 0 0.5rem;
	height: 2rem;
}
main section.selector div.join-box button {
	display: inline-block;
	padding: 0;
	width: 2rem;
	height: 2rem;
	text-decoration: none;
	color: white;
	background: rgba(51, 51, 51, 0.6);
	border: solid 2px white;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin: 0;
	outline:none;
}
main section.selector div.join-box button:hover {
	background: rgba(255, 255, 255, 0.6);
}

main section.cloudn {
	text-align: center;
	margin: 1rem auto;
}

main section.description-box {
	display: flex;
}

main section div.description {
	width: 70%;
}

main section div.description div {
	background: white;
	border-radius: 6px;
	margin: 0 1rem;
	padding: 1rem;
}

main section div.description div h3 {
	padding: 0.5rem 0;
	border-bottom: solid 3px #68b7bd;
}

main section div.description div p {
	padding: 0.5rem 0;
}

main section div.description div ul {
	padding: 0.5rem 2rem;
}

main section div.tweet {
	background: white;
	border-radius: 6px;
	margin: 0 1rem 0 0;
	width: 30%;
}

footer {
	text-align: center;
	padding: 0.5rem 0;
	border-top: solid 3px #68b7bd;
}

/* room */
main section.canvas-box {
	text-align: center;
}
main section canvas {
	width: 100%;
	background: white;
}
main section.user-view {
	display: flex;
	justify-content: space-between;
}
main section.user-view div {
	text-align: center;
	width: 16%;
	 display: flex;
	flex-direction: column;
}

main section.user-view div span.user-answer {
	display: inline-block;
	border-radius: 6px;
	background: white;
	margin-bottom: 10px;
	padding: 0.5rem;
	position: relative;
}

main section.user-view div span.user-answer:after {
	border-left: solid 7px transparent;
	border-right: solid 7px transparent;
	border-top: solid 10px white;
	bottom: -10px;
	content: "";
	left: 45%;
	position: absolute;
}

main section.user-view div.user-area div.user-video-box {
	width: 100%;
	height: 145px;
	border-radius: 6px;
}

main section.user-view div.user-area div.user-video-box.box0 {
	background: red;
}
main section.user-view div.user-area div.user-video-box.box1 {
	background: blue;
}
main section.user-view div.user-area div.user-video-box.box2 {
	background: green;
}
main section.user-view div.user-area div.user-video-box.box3 {
	background: yellow;
}
main section.user-view div.user-area div.user-video-box.box4 {
	background: pink;
}
main section.user-view div.user-area div.user-video-box.box5 {
	background: black;
}
main section.user-view div.user-area div.user-video-box video {
	width: 100%;
	background: white;
	margin: auto;
}