body{
	width: 950px;
	overflow: hidden;
	margin: 0 auto;
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
}

#header{
	background-color: skyblue;
}

#main{

}

#footer{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 920px;
    height: 150px;
}

.contents{
	width: 100%;
	margin: 0 auto;
}

.create{
	width: 100%;
	text-align: center;
}

.join{
	width: 100%;
	text-align: center;
}

video{
	width: 100%;
	height: 100%;
}

#P0{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: red;
}

#P1{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: blue;
}

#P2{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: green;
}

#P3{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: yellow;
}

#P4{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: pink;
}

#P5{
	width: 16%;
	height: 100%;
	margin: 2px;
	float: left;
	background-color: black;
}

.clear{
	clear: both;
}

/*トップ用CSS*/

#tab{
	height: 25px;
}

#tab li{
	height: 34px;
	width: 48%;
	float: left;
	display: block;
	text-align: center;
	font-size: 30px;
	border-right: solid;
	border-left: solid;
	border-top: solid;
	margin: 3px;
}

#tab li a:link { color:#0000ff; text-decoration:none }
#tab li a:visited { color:#0000ff; text-decoration:none }
#tab li a:hover { color:#0000ff; text-decoration:none }
#tab li a:active { color:#0000ff; text-decoration:none }

.top_main .contents {
  position: relative;
}

.top_main .contents div {
  background: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.top_main .contents div {
  opacity: 0;
  z-index: 1;
}

.top_main #tab li:first-child a {
  background: skyblue;
  color: #fff;
}

.top_main .contents div:first-child {
  opacity: 1;
  z-index: 2;
}

.top_main #create:target .contents .create,
.top_main #join:target .contents .join {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  z-index: 2;
}

.top_main #create:target .contents div:not([class="create"]),
.top_main #join:target .contents div:not([class="join"]) {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  z-index: 1;
}

.top_main #create:target #tab li a[href$="create"],
.top_main #join:target #tab a[href$="join"]{
  background: skyblue;
  color: #fff;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.top_main :not([id="create"]):target #tab li a[href$="create"] {
  background: #fff;
  color: #22aacc;
}